---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include site/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    Uuair
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="col-md-3"><i class="fa fa-github"></i> <span>我的主页</span></td>
        <td><a href="https://www.leon.vc">Leon · 且行且珍惜</a></td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-facebook"></i> <span>我的Facebook</span></td>
        <td><a href="http://www.faceboo.com/uuair">uuair · Facebook</a></td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-twitter"></i> <span>我的Twitter</span></td>
        <td><a href="http://www.twitter.com/uuair">uuair · Twitter</a> </td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-instagram"></i> <span>我的Instagram</span></td>
        <td><a href="http://www.instagram.com/uuair">uuair · Instagram</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include site/comments %}
